<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      body { font-size: 1.5em; font-family: "Serif" }
      input {width:300px; border-radius: 5px; height: 20px}
      button {margin: 20px; margin-left: 0; border-radius: 2px;
         background-color: orange; font-size: 0.6em; border-color: yellow;}
    </style>
    <title>Lunch Checker</title>
  </head>
  <body >
    <h2>Lunch checker</h2>
    <div ng-controller="LunchCheckController">
      <div id='main'>
       <!-- Declaring ng-model="dishesStr" to bind input string with $scope.dishesStr -->
       <input type="text" id="mainInput" placeholder="please enter coma-separated dishes" ng-model="dishesStr">
        <p> <small>please keep in mind that empty strings (", ,") will be considered like dish-record</small> </p>  
      </div>
      <div>
       <!--Calling checkIfTooMuch() function when the button is clicked -->
       <button id='mainButton' ng-click="checkIfTooMuch();">Check If Too Much</button>
       {{message}} <!-- Displaying message-->

       <script type="text/javascript">
        var elem1 = document.getElementById('mainInput');
        var elem2 = document.getElementById('mainInput').getAttribute('placeholder');
        var elem3 = document.getElementById('mainButton');
        var elem4 = document.getElementById('mainButton').getAttribute('ng-click');
        console.log(elem1);
        console.log(elem2);
        console.log(elem3);
        console.log(elem4);
       </script>
      </div>
    </div>

  </body>
</html>
